apiVersion: v1
kind: ReplicationController
metadata:
  name: myReplicationController
spec:
replicas: 3
selector:
  app: myworkapp
  template:
    metadata:
      name: spider2
      labels:
        env: dev
        app: myworkapp
    spec:
      containers:
        - name: spider2
          image: nginx
          ports:
            - containerPort: 80
---
