- name: my 1st playbook
  hosts: all
  vars:
    movie: "spiderman"
  # vars_files:
  #   - ./var.txt
  vars_prompt:
    - name: movie
      prompt: Enter the movie name
  tasks:
    - name: 1st task
      debug:
        msg: "Hello this {{movie}}"
    - name: 2st task
      debug:
        msg: "Hello this {{movie}}-2"
    - name: 3st task
      debug:
        msg: "Hello this {{movie}}"
      vars:
        movie: "Ironman"
        
    - name: get hostname
      shell: hostname
      register: URL
    - name: print hostname
      debug:
        msg: 


    